<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ZooManagementSystem.mapper.ZooWorkerMapper">

<!--    查询所有动物园职工-->
    <select id="getAllWorker" resultType="com.ZooManagementSystem.entity.ZooWorkerEntity">
        select * from t_zoo_worker_info;
    </select>

</mapper>
